/*
  El-Online main styles
  Author: Ascentic - tAmArA
  Version: 0.1
*/
/* Base - Base styles, variables, typography, mixins, etc */
/* variables */
/* fonts */
/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
/* background colors */
/* navbar colors*/
/* typography scss*/
/* font styles */
.font-style-regular, .font-style-regular1, .font-style-regular2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.font-style-regular1 {
  font-size: 16px;
  color: #2D3F70; }

.font-style-regular2 {
  font-size: 14px; }

.font-style-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px; }

.font-style-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px; }

/* mixins scss*/
/* normalize scss*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

.paddingLeft {
  padding-left: 15px; }

.paddingRight {
  padding-right: 15px; }

.paddingBig {
  padding-left: 30px;
  padding-right: 30px; }

.row {
  padding-top: 1em;
  padding-bottom: 1em; }

.well {
  border: none; }

.well:first-child {
  margin: 1em 2em 0 2em;
  background-color: rgba(255, 255, 255, 0.5); }

.well:nth-child(2) {
  margin: 0 2em 1em 2em;
  background-color: #fff; }

/* base scss */
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  line-height: 1.7em;
  background-color: #EFEFEF; }

a {
  color: #2D3F70; }

ul, li {
  list-style: none; }

/* Modules - Individual site components */
/* blocks scss*/
/* buttons scss*/
/* sections scss*/
#printSection {
  margin-top: 6em;
  margin-bottom: 1em; }

#consumptionSection span {
  color: #2D3F70; }

/* components scss*/
/*bootstrap classes*/
.panel-heading {
  padding: 15px; }

.dropdown .dropdown-toggle, .dropdown .dropdown-menu {
  width: 13em; }
.dropdown .dropdown-menu > li > a {
  color: #BCBBBB;
  background-color: transparent; }
.dropdown .dropdown-menu > li > a:hover, .dropdown .dropdown-menu > li > a:focus {
  background-color: transparent !important;
  color: #2D3F70 !important; }

.panel-body {
  padding-bottom: 0; }
  .panel-body .row:nth-child(2) {
    background-color: #E2E2E2; }

#container1, #container2, #container3 {
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto; }

/* Layouts - styles for page layout */
/* navbar scss*/
.navbar {
  margin: auto;
  background-color: #FBFBFB;
  box-shadow: 1px 5px 25px #D9D8D8;
  height: auto; }
  .navbar .navbar-brand {
    height: auto; }
  .navbar .navbar-nav {
    margin: 7.5px -15px; }
    .navbar .navbar-nav #logout {
      border-bottom: 2px solid #2D3F70; }
  .navbar .navbar-header {
    float: none; }
  .navbar .nav > li {
    display: inline-block; }

/* header scss*/
/* footer scss*/
footer .container {
  text-align: center;
  margin: 0 auto;
  color: #000000;
  font-family: "Poppins", sans-serif !important;
  padding: 1em; }
  footer .container span {
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
