﻿@using EL_Online.Web.Models
@model DashboardModal

@foreach (var item in Model.SensorCurrentDetailList)
{
    if (item.IsElectricity)
    {
         <!-- panel 1 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title paddingRight">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/electricity.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value kWh</span>
                        <span class="pull-right"><i class="fa fa-caret-down fa-lg" aria-hidden="true"> </i></span>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row" style="padding-top: 0em">
                        <div class="col-xs-4 col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular2"></span>
                            <!-- electricity dropdown starts here -->

                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownElectricity" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- electricity dropdown ends here -->
                        </div>

                        <div class="col-xs-8 col-sm-9" id="monthlyPannelElectricity">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownElectricity" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownElectricity" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownElectricity" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelElectricity">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='electricityStartDate'>
                                        <input type='text' id='electricityStartDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='electricityEndDate'>
                                        <input type='text' id='electricityEndDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="electricityShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="electricityCompairPanel">
                            <label class="radio-inline paddingRight" id="electricityRadioCompare"><input type="radio" name="optradioElectricity" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="electricityRadioReset" style="display: none"><input type="radio" name="optradioElectricity" value="reset">@Resources.Resource.Reset</label>
                        </div>

                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorElectricity" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container1"></div>
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>

        </div>

         <!-- panel 1 ends here -->
    }

    if (item.IsColdWater)
    {
        <!-- panel 2 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title paddingRight paddingRight">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/waterTap_cold.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value liter</span>
                        <span class="pull-right"><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></span>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular2"></span>
                            <!-- cold water dropdown starts here -->

                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownColdWater" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- cold water dropdown ends here -->
                        </div>
                        <div class="col-xs-8 col-sm-9" id="monthlyPannelColdWater">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownColdWater" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownColdWater" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownColdWater" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelColdWater">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='coldWaterStartDate'>
                                        <input type='text' class="form-control" id="coldWaterStartDate-input" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='coldWaterEndDate'>
                                        <input type='text' class="form-control" id="coldWaterEndDate-input" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="coldWaterShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="coldWaterCompairPanel">
                            <label class="radio-inline paddingRight" id="coldWaterRadioCompare"><input type="radio" name="optradioColdWater" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="coldWaterRadioReset" style="display: none"><input type="radio" name="optradioColdWater" value="reset">@Resources.Resource.Reset</label>
                        </div>
                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorColdWater" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container2"></div>
                            @*<button id="plain2">Plain</button>
                                <button id="inverted2">Inverted</button>
                                <button id="polar2">Polar</button>*@
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>
        </div>
        <!-- panel 2 ends here -->
    }

    if (item.IsHotWater)
    {
        <!-- panel 3 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title paddingRight">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/waterTap_warm.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value liter</span>
                        <span class="pull-right"><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular2"></span>

                            <!-- warm water dropdown starts here -->
                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownHotWater" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- warm water dropdown ends here -->
                        </div>
                        <div class="col-xs-8 col-sm-9" id="monthlyPannelHotWater">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownHotWater" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownHotWater" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownHotWater" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelWarmWater">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='warmWaterStartDate'>
                                        <input type='text' class="form-control" id='warmWaterStartDate-input' />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='warmWaterEndDate'>
                                        <input type='text' class="form-control" id='warmWaterEndDate-input' />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="hotWaterShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="hotWaterCompairPanel">
                            <label class="radio-inline paddingRight" id="hotWaterRadioCompare"><input type="radio" name="optradioHotWater" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="hotWaterRadioReset" style="display: none"><input type="radio" name="optradioHotWater" value="reset">@Resources.Resource.Reset</label>
                        </div>
                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorHotWater" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container3"></div>
                            @*<button id="plain3">Plain</button>
                                <button id="inverted3">Inverted</button>
                                <button id="polar3">Polar</button>*@
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>
        </div>
        <!-- panel 3 ends here -->
    }

    if (item.IsHeat)
    {
        <!-- panel 4 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title paddingRight">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/heat.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value kWh</span>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row">
                        <div class="col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular-two"></span>

                            <!-- heat dropdown starts here -->

                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownHeat" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- heat dropdown ends here -->
                        </div>
                        <div class="col-xs-8 col-sm-9" id="monthlyPannelHeat">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownHeat" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownHeat" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownHeat" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelHeat">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='heatStartDate'>
                                        <input type='text' id='heatStartDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='heatEndDate'>
                                        <input type='text' id='heatEndDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="heatShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="heatCompairPanel">
                            <label class="radio-inline paddingRight" id="heatRadioCompare"><input type="radio" name="optradioHeat" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="heatRadioReset" style="display: none"><input type="radio" name="optradioHeat" value="reset">@Resources.Resource.Reset</label>
                        </div>

                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorHeat" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container4"></div>
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>
        </div>
        <!-- panel 4 ends here -->
    }

    if (item.IsTemp)
    {
        <!-- panel 5 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title paddingRight">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/temp.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value °C</span>
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row">
                        <div class="col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular-two"></span>

                            <!-- temperature dropdown starts here -->
                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownTemperature" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- temperature dropdown ends here -->
                        </div>
                        <div class="col-xs-8 col-sm-9" id="monthlyPannelTemp">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownTemp" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownTemp" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownTemp" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelTemp">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='temperatureStartDate'>
                                        <input type='text' id='temperatureStartDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='temperatureEndDate'>
                                        <input type='text' id='temperatureEndDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="tempShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="tempCompairPanel">
                            <label class="radio-inline paddingRight" id="tempRadioCompare"><input type="radio" name="optradioTemperature" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="tempRadioReset" style="display: none"><input type="radio" name="optradioTemperature" value="reset">@Resources.Resource.Reset</label>
                        </div>
                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorTemperature" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container5"></div>
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>
        </div>
        <!-- panel 5 ends here -->
    }

    if (item.IsFloorHeat)
    {
        <!-- panel 6 starts here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title paddingRight">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <span class="font-style-regular-two paddingRightBig"><img class="img-circle" src="~/Content/images/floor_heat.png" />@item.TypeName</span>
                        <span class="font-style-medium measure">@Resources.Resource.Last @item.Value kWh</span>
                        <span class="pull-right"><i class="fa fa-caret-down fa-lg" aria-hidden="true"> </i></span>
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    <!-- datepickers row starts here -->
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 paddingBig">
                            <span class="paddingRight font-style-regular2"></span>
                            <!-- electricity dropdown starts here -->

                            <div class="dropdown">
                                <select name="period" id="timePeriodDropdownFloorHeat" class="form-control">
                                    <option value="lw">@Resources.Resource.LastWeek</option>
                                    <option value="lm">@Resources.Resource.LastMonth</option>
                                    <option value="ly">@Resources.Resource.LastYear</option>
                                    <option value="sp">@Resources.Resource.SpecificPeriod</option>
                                </select>
                            </div>
                            <!-- electricity dropdown ends here -->
                        </div>
                        <div class="col-xs-8 col-sm-9" id="monthlyPannelFloorHeat">
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="yearDropdownFloorHeat" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                                <select name="period" id="yearForMonthDropdownFloorHeat" class="form-control">
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <span class="paddingRight font-style-regular2"></span>
                                <select name="period" id="monthDropdownFloorHeat" class="form-control">
                                    <option value="01">@Resources.Resource.Month1</option>
                                    <option value="02">@Resources.Resource.Month2</option>
                                    <option value="03">@Resources.Resource.Month3</option>
                                    <option value="04">@Resources.Resource.Month4</option>
                                    <option value="05">@Resources.Resource.Month5</option>
                                    <option value="06">@Resources.Resource.Month6</option>
                                    <option value="07">@Resources.Resource.Month7</option>
                                    <option value="08">@Resources.Resource.Month8</option>
                                    <option value="09">@Resources.Resource.Month9</option>
                                    <option value="10">@Resources.Resource.Month10</option>
                                    <option value="11">@Resources.Resource.Month11</option>
                                    <option value="12">@Resources.Resource.Month12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9" id="dateRangePannelFloorHeat">
                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.StartDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='floorHeatStartDate'>
                                        <input type='text' id='floorHeatStartDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-6">
                                <span class="font-style-regular2">@Resources.Resource.EndDate</span>
                                <div class="form-group">
                                    <div class='input-group date' id='floorHeatEndDate'>
                                        <input type='text' id='floorHeatEndDate-input' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <input class="btn btn-primary btn-sm font-style-regular-one showResultButton" type="button" id="floorHeatShowResultButton" value="@Resources.Resource.ShowResult" />
                            </div>
                        </div>
                    </div>
                    <!-- datepickers row ends here -->
                    <!-- charts row stars here -->
                    <div class="row">
                        <div class="well" id="floorHeatCompairPanel">
                            <label class="radio-inline paddingRight" id="floorHeatRadioCompare"><input type="radio" name="optradioFloorHeat" value="compare">@Resources.Resource.CompareToSamePeriodLastYear</label>
                            <label class="radio-inline paddingRight" id="floorHeatRadioReset" style="display: none"><input type="radio" name="optradioFloorHeat" value="reset">@Resources.Resource.Reset</label>
                        </div>

                        <!-- highchart starts here -->
                        <div class="well">
                            <div class="alert alert-danger alert-dismissable fade in" id="errorFloorHeat" hidden="hidden">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Resources.Resource.NoResultRound
                            </div>
                            <div id="container6"></div>
                        </div>
                        <!-- highchart ends here -->
                    </div>
                    <!-- charts row ends here -->
                </div>
                <!-- panel body ends here -->
            </div>

        </div>
        <!-- panel 6 ends here -->
    }

}

