﻿@using EL_Online.Web.Helpers
@model EL_Online.Web.Models.EndUserModal
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var isEnglish = culture == "en-us" ? true : false;
}
@helper selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="Ascentic">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <title>EL-Online</title>
    @*@Styles.Render("~/Content/css")*@
    <!-- CSS -->
    <link href="~/Content/el-online-style.css" rel="stylesheet" />
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>*@
</head>
<body>

    <!-- header starts here -->
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
        <li>
            <span class="font-style-regular-one">@Resources.Resource.Name </span>
            <span class="paddingLeft font-style-medium-menu">@Model.SiteName</span>
        </li>
        <li>
            <span class="font-style-regular-one">@Resources.Resource.Address </span>
            <span class="paddingLeft font-style-medium-menu">@Model.Address1 @Model.Address2</span>
        </li>
        <li>
            <span class="font-style-regular-one">@Resources.Resource.ZipCode </span>
            <span class="paddingLeft font-style-medium-menu">@Model.ZipCode</span>
        </li>
        <li>
            <span class="font-style-regular-one">@Resources.Resource.City </span>
            <span class="paddingLeft font-style-medium-menu">@Model.City</span>
        </li>
        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <li>
                <span class="font-style-regular-one">@Resources.Resource.Note </span>
                <span class="paddingLeft font-style-medium-menu">@Model.Note</span>
            </li>
        }
        <li id="mobileLanguage">
            <a href="#">
                
                @using (Html.BeginForm("SetCulture", "Dashboard", new {culture = "sv"}))
                {
                    if (culture == "en-us")
                    {
                        isEnglish = true;
                        <button name="submit" value="sv"><img src="~/Content/images/swedish.png" class="paddingRight" width="35" @selected("sv", culture)> SWEDISH</button>
                    }

                }
                @using (Html.BeginForm("SetCulture", "Dashboard", new {culture = "en-us"}))
                {
                    if (culture == "sv")
                    {
                        isEnglish = false;
                        <button name="submit" value="en-us"><img src="~/Content/images/english.png" class="paddingRight" width="35" @selected("en-us", culture)> English</button>
                    }
                }
            </a>
        </li>
        <li id="mobileLogout">
            <span class="paddingLeft font-style-semibold">@Html.ActionLink(Resources.Resource.LogOut, "Login", "Account")</span>
        </li>
    </div>
    <div id="elsystemWrapper">
        <!-- header starts here -->
        <header>
            <nav class="navbar navbar-fixed-top font-style-regular2">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="~/Content/images/minImages/el_logo.png" width="150"></a>
                        <ul class="nav navbar-nav pull-right">
                            <li style="margin-top: 5%">
                                @*<a href="#">*@
                                <input type="hidden" id="isEnglishText" value="@culture" />

                                    @using (Html.BeginForm("SetCulture", "Dashboard", new { culture = "sv" }))
                                    {
                                        if (culture == "en-us")
                                        {
                                            isEnglish = true;
                                            <button name="submit" value="sv"><img src="~/Content/images/swedish.png" class="paddingRight" width="35" @selected("sv", culture)> SWEDISH</button>
                                        }

                                    }
                                    @using (Html.BeginForm("SetCulture", "Dashboard", new { culture = "en-us" }))
                                    {
                                        if (culture == "sv")
                                        {
                                            isEnglish = false;
                                            <button name="submit" value="en-us"><img src="~/Content/images/english.png" class="paddingRight" width="35" @selected("en-us", culture)> ENGLISH</button>
                                        }
                                    }
                               @* </a>*@

                            </li>
                            <li>@Html.ActionLink(Resources.Resource.LogOut, "Login", "Account")</li>
                            <li onclick="openNav()"><a href="#"> <span class="paddingRight"> @Resources.Resource.More</span> <i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- print section starts here -->
        <section id="printSection" class="container">
            <div class="font-style-semibold pull-left"> @Model.SiteName</div>
            <input class="btn btn-primary btn-sm font-style-regular-one pull-right" type="submit" value="@Resources.Resource.PrintThisPage" onclick="showPrintSetting()" />
            <div class="col-xs-12 " id="printSettingPannel" style="display: none">
                <div class="col-xs-12 col-sm-4 ">
                    <div class="form-group">
                        <div class="input-group date" id="pdfStartDate">
                            <input type="text" id="pdfStartDate-input" class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <div class="input-group date" id="pdfEndDate">
                            <input type="text" id="pdfEndDate-input" class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 form-group">
                    <input class="btn btn-primary btn-sm font-style-regular-one" type="submit" id="printPdfButton" value="@Resources.Resource.PrintNow" onclick="printPdf()">
                </div>
                <a href="#" style="display: none" id="pdfLink"></a>
            </div>

        </section>
        <!-- print section ends here -->
        <!-- consumption section starts here -->
        <section id="consumptionSection" class="container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @RenderBody()
                <hr />
                <footer>
                    <div class="container">
                        <span class="font-style-regular-three">&copy; @DateTime.Now.Year - ELsystem. All Rights Reserved.</span>
                    </div>
                </footer>
            </div>
        </section>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- javascript -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/locale-sv.js"></script>
    <script src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
