﻿@using EL_Online.Web.Models
@model Login
@{
    ViewBag.Title = "login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ascentic">
    <link rel="icon" href="~/Content/images/favicon.ico">

    <title>EL-System</title>

    <!-- CSS -->
    <link href="~/Content/el-online-login.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="loginWrapper" class="container">

    <div class="wrap">
        <div class="loginForm">
            <!-- <p class="form-title font-style-medium-title">
                Sign In</p> -->
           
            <div class="form-title font-style-medium-title"><img src="~/Content/images/el_logo.png" width="150"/></div>
            <form class="login" method="post" action="@Url.Action("Login", "Account")">
                @Html.TextBoxFor(a => a.UserName, new { @class = "font-style-regular-three", placeholder = "Användarnamn" })
                @Html.PasswordFor(a => a.Password, new { @class = "font-style-regular-three", placeholder = "Lösenord" })
                <input class="btn btn-primary btn-sm font-style-regular-one" type="submit" value="Logga in" /><br/><br />
                @if (ViewBag.InvalidCredentials == "-5")
                {
                    <div class="alert alert-danger alert-dismissable fade in" id="errorLogin">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Invalid Credentials
                    </div>
                }
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label class="font-style-regular-three">
                                    <input type="checkbox" />
                                    Kom ihåg mig
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- javascript -->
<script src="~/Scripts/el-online-login.js"></script>

<script>
    $(document).ready(function () {
        $('.forgot-pass').click(function(event) {
            $(".pr-wrap").toggleClass("show-pass-reset");
        });

        $('.pass-reset-submit').click(function(event) {
            $(".pr-wrap").removeClass("show-pass-reset");
        });
    });
</script>
</body>
</html>
